@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');



.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    margin: 0;

}

.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="submit"] {
    font-family: 'Quicksand', serif;
    width: 500px;
    height: 50px;
    font-size: 20px;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid black;
    border-radius: 5px;
}

.form-container a {
    display: inline-block;
    padding: 15px 30px;
    font-family: 'Quicksand', serif;
    font-size: 20px;
    background-color: #87CEEB;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    margin-top: 5px;
}

.form-container h1 {
    font-size: 50px;
}

.form-container {
    height: 80%;

    display: grid;
    grid-template-rows: 90% 10%;
    align-items: center;
    justify-content: center;
    position: 'absolute'; 
    font-family: 'Dancing Script', cursive;
}

